<section id="contact">
          <div id="container-form" class="contactForm">
        <div class="lets-connect">
          <h3>Lets Connect !!</h3>
        </div>
    
        <div class="form">
          <form>
            <input type="text" id="name" placeholder="Name" name="name">
            <input type="email" id="email" placeholder="Email" name="email">
            <input type="text" id="phone" placeholder="Phone Number" name="phone">
            <textarea id="message" placeholder="Message" name="message"></textarea>
            <button onclick="SendMail()" id="sendButton">Send</button>
          </form>
        </div>
        <div id="success-message" style="display: none;">
          <p>Details Sent Successfully !!</p>
        </div>
      </div>
      <div class="contact-me">
        <h3>Contact Me</h3>
        <div class="div-contact-details">
          <ul class="contact-name">
            <li>Vinod Yedla</li>
          </ul>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> <a class="contact-location"
                href="https://goo.gl/maps/6zeYYFUf3b7W6Wzg7" target="_blank">Hyderabad, India</a></li>
            <li><i class="far fa-envelope"></i> vinodyedla678@gmail.com</li>
            <li><i class="fas fa-phone"></i> 9381063388</li>
          </ul>
        </div>
        <div class="div-social-icons">
          <ul class="contact-social-icons">
            <li><a class="linkedin" aria-label="LinkedIn" href="https://api.whatsapp.com/send?phone=919381063388"
                target="_blank"><i class="fab fa-whatsapp"></i></a></li>
            <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/vinod-yedla/"
                target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="github" aria-label="GitHub" href="https://github.com/Vinod678" target="_blank"><i
                  class="fab fa-github"></i></a></li>
            <li><a class="dev" aria-label="Dev" href="https://linktr.ee/vinodyedla" target="_blank"><i
                  class="fab fa-dev"></i></a></li>
            <li><a class="instagram" aria-label="Instagram" href="https://www.instagram.com/vinod_yedla/"
                target="_blank"><i class="fab fa-instagram" target="_blank"></i></a></li>
            <li><a class="twitter" aria-label="Twitter" href="https://twitter.com/Im_VinodY" target="_blank"><i
                  class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </section>













/* ContactMe and Contact-form Css-styles ###Starts */

#contact {
  display: flex;
  padding-top: 85px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.contactForm {
  width: 40%;
  padding: 26px;
  /* background-color: rebeccapurple; */
}
.contact-me,
.contactForm {
  flex: 1;
}

.lets-connect {
  font-size: 30px;
  margin-left: 50px;
  color: rgb(62, 49, 77);
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Changed from row to column for small screen */
}

form input,
form textarea {
  margin: 10px;
  padding: 9px;
  width: 300px;
  border-radius: 5px;
  /* border: none; */
  font-size: 1.2em;
  opacity: 0.9;
}
form input,
form textarea .placeholder{
  justify-content: left;
  margin-left: 10px;
}


.contact-me {
  width: 60%;
  background-color: rgb(92 101 147);
  border-radius: 10px;
  margin-right: 10px;
}

.div-contact-details ul li {
  list-style-type: none;
  padding: 8px;
  font-size: 1.2em;
  font-weight: 530;
  font-family: 'Courier New', Courier, monospace;
}

.div-contact-details ul li i {
  padding-right: 8px;
  font-size: 1.2em;
}

.div-contact-details ul li .fa-map-marker-alt,
.div-contact-details ul li .fa-envelope,
.div-contact-details ul li .fa-phone {
  color: #ffffff;
}

.contact-location {
  text-decoration: none;
  color: rgb(255, 255, 255);
}







#sendButton {
  margin: 10px;
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  background-color: #fff;
  border: 2px solid green;
  color: green;
  cursor: pointer;
  font-weight: bold;
}

.div-contact-details {
  padding: 45px;
  justify-content: center;
}

.contact-me h3 {
  font-weight: bold;
  font-size: 32px;
  margin-left: 50px;
  margin-top: 60px;
  color: rgb(127, 196, 167);
}

.contact-name {
  font-size: 20px;
  font-weight: 1600;
}

.div-social-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 0;
  font-size: 20px;
}

.contact-social-icons li {
  list-style-type: none;
}

.contact-social-icons a {
  color: rgb(255, 255, 255);
  font-size: 1em;
  text-decoration: none;
}

.contact-social-icons a:hover {
  color: gray;
}

.contact-social-icons a i {
  margin: 1px;
}

.div-social-icons ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}

.div-social-icons li {
  padding: 10px;
}

/* Responsive Styles */

@media (max-width: 600px) {
  #contact {
    flex-direction: column;
  }
  .lets-connect {
    font-size: 20px;
    margin-left: 50px;
    color: rgb(62, 49, 77);
  }

  .contact-me,
  .contactForm {
    width: 100%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #sendButton {
    margin-top: 20px; /* Move the button below the message input */
  }
  
  form input,
  form textarea {
    margin: 10px;
    padding: 9px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
  }
}
