
#contact {
    display: flex;
    margin-top: 4%;
    padding-top: 85px;    
    margin-bottom: 10%;
  }

/* .contact-me, .contactForm {
    flex: 1;
  } */

.contact-me {
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 10px;
    animation: fadeIn 1s ease-out;
    /* transform: perspective(400px) rotateY(-6deg); */
}

.contact-me{
    -webkit-box-shadow: -17px -4.5px 12px -8px #ddd;
    -moz-box-shadow: -17px -4.5px 12px -8px #ddd;
    box-shadow: -17px -4.5px 12px -8px #ddd;
}

/* Div-contact-details */

.div-contact-details ul li {
    list-style-type: none;
    padding: 8px;
    font-size: 1.2em;
    font-weight: 530;
    font-family: 'Courier New', Courier, monospace;
}

.div-contact-details ul li i {
    padding-right: 8px;
    font-size: 1em;
}

.div-contact-details ul li .fa-map-marker-alt {
    color: #677e98;
}

.div-contact-details ul li .fa-envelope {
    color: #2a9bb8
}

.div-contact-details ul li .fa-phone {
    color: #c2577e;
}

.contact-location{
    text-decoration: none;
    color:black;
}

.contactForm {
    width: 40%;
    /* margin: 190px; */
    padding: 26px;
}

.contactForm {
    background-color: rgb(0 96 99);
    /* align-content: center;
    justify-content: center; */
    /* padding: 02px; */
    border-radius: 10px;
}

.lets-connect {
    font-size: 30px;
    margin-left: 50px;
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form input, form textarea {
    margin: 10px;
    padding: 9px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

form input[type="submit"] {
    margin: 10px;
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

form input[type="submit"] {
    background-color: #fff;
    border: 2px solid green;
    color: green;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: auto; */
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    border: white;
}

/*Div contact-me and div-contact-details  */

.div-contact-details {
    padding: 45px;
    justify-content: center;
}



.contact-me h3 {
    font-weight: bold;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 60px;
    color: rgb(127, 196, 167);
}

.contact-name {
    font-size: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-weight: bold; */
    font-weight: 1600;
}

.div-social-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
    font-size: 20px;
    /* opacity: 0.6; */
}

.contact-social-icons li {
    list-style-type: none;
}

.contact-social-icons a {
    color: black;
    font-size: 1em;
    text-decoration: none;
}

/* Style each individual icon when hovered */
.contact-social-icons li a:hover i.fa-whatsapp {
    color: #1ba562; /* LinkedIn color */
  }
.contact-social-icons li a:hover i.fa-linkedin {
    color: #0077b5; /* LinkedIn color */
  }
  
  .contact-social-icons li a:hover i.fa-github {
    color: #181717; /* GitHub color */
  }
  
  .contact-social-icons li a:hover i.fa-dev {
    color: #0a0a0a; /* Dev.to color */
  }
  
  .contact-social-icons li a:hover i.fa-instagram {
    color: #bc2a8d; /* Instagram color */
  }
  
  .contact-social-icons li a:hover i.fa-twitter {
    color: #1da1f2; /* Twitter color */
  }
  
.contact-social-icons a i {
    margin: 1px;
}

.div-social-icons ul {
    display: flex;
    list-style-type: none;
    /* margin: 10px;; */
    /* padding: 10px; */
    /* white-space: 10px; */
    justify-content: flex-start;
    /* padding: 10px; */
}

.div-social-icons li {
    padding: 10px;
}

@media(max-width:420px){
    #contact {
        margin-left: 4%;
        margin-right: 5%;
        padding-top: 20px;
    }
    #contact {
        flex-direction: column;
      }
      
      .contact-me,
      .contactForm {
        width: 100%;
        padding: 10px;
      }
      .div-contact-details {
          padding: 15px;
          justify-content: center;
      }
      .lets-connect {
          font-size: 26px;
          margin-left: 45px;
          color: white;
    }
    form {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  
  .div-contact-details ul li {
      list-style-type: none;
      padding: 8px;
      font-size: 1.1em;
      font-weight: 530;
      font-family: 'Courier New', Courier, monospace;
  }
  
  .div-contact-details ul li i {
      padding-right: 8px;
      font-size: 1.2em;
  }
  .contact-me h3 {
      font-weight: bold;
      font-size: 28px;
      margin-left: 25px;
      margin-top: 60px;
      margin-bottom:15px;
      color: rgb(127, 196, 167);
  }
  form input, 
  form textarea .placeholder{
      margin-left: 10px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 720px) {
    #contact {
        margin-left: 4%;
        margin-right: 5%;
        padding-top: 20px;
    }
    #contact {
      flex-direction: column;
    }
    
    .contact-me
    {
      width: 100%;
      padding: 10px;
    }
    
    .contactForm {
      width: 80%;
      padding: 10px;
    }
    .div-contact-details {
        padding: 15px;
        justify-content: center;
    }
    .lets-connect {
        font-size: 26px;
        margin-left: 45px;
        color: white;
  }
  form {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.div-contact-details ul li {
    list-style-type: none;
    padding: 8px;
    font-size: 0.9em;
    font-weight: 530;
    font-family: 'Courier New', Courier, monospace;
}

.div-contact-details ul li i {
    padding-right: 8px;
    font-size: 1.2em;
}
.contact-me h3 {
    font-weight: bold;
    font-size: 28px;
    margin-left: 50px;
    margin-top: 60px;
    color: rgb(127, 196, 167);
}
form input, 
form textarea .placeholder{
    margin-left: 10px;
}
}


@media only screen and (min-width: 721px) and (max-width: 920px) {
    #contact {
        margin-left: 18%;
        margin-right: 0%;
        padding-top: 20px;
    }
    #contact {
      flex-direction: column;
    }
    
    .contact-me
    {
      width: 80%;
      padding: 10px;
    }
    .contactForm {
        width: 60%;
        padding: 10px;
    }
}

@media only screen and (min-width: 921px) and (max-width: 1120px) {
    #contact {
        margin-left: 4%;
        margin-right: 5%;
        padding-top: 20px;
    }    
    .contact-me,
    .contactForm {
      width: 60%;
      padding: 10px;
    }
}
