header {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px; /* Adjust the width as per your preference */
    height: 100vh; /* Make the header take the full height of the viewport */
    background-color: #f5f5f5; /* Set the background color of the header */
    padding: 20px; /* Add padding for content spacing */
}
/* New header */
/* header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #ffffff;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
} */


header .header-left .logo {
    margin-left: 40px; 
}

header .header-left .logo h1 .name {
    text-decoration: none;
}

header .header-left {
    /* display: flex; */
    align-items: center;
}

header .header-left nav {
    /* margin-left: 550px; */
}

header .header-left nav ul {
    margin-left: 10px;
}

header .header-left nav ul {
    /* display: flex; */
}

header .header-left nav ul li {
   list-style: none;
}

nav ul li a {
    display: block;
    color: #136cac;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    color: #eb2e2e;
}

.header-right {
    /* display: flex; */
    align-items: center;
}

.header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

.header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #f82121;
}




/* @media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }

    header .header-right .hamburger {
        display: block;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        
        width: 30%;
        height: fit-content;
        background-color: #60a3e7;
        padding: 30px;
        transition: -5.3s;
        text-align: center;
        z-index: -19;
        border-radius: 12%;
    }

    header .header-left nav.active {
        top: 70px;
    }

    header .header-left nav ul {
        display: block;
    }
} */

 /* @media only screen and (max-width: 1000px) {
    header {
        display: none;
    }

    .header-right .hamburger {
        display: block;
        position: fixed;
    }
    .header-right{
        margin-right: auto;
    }

    header .header-left nav {
        margin: 0;
        position: relative;
        top: -100%;
        
        width: 30%;
        height: fit-content;
        background-color: #60a3e7;
        padding: 30px;
        transition: -5.3s;
        text-align: center;
        z-index: -19;
        border-radius: 12%;
    }

    header .header-left nav.active {
        top: 70px;
    }

    header .header-left nav ul {
        display: block;
    }
} */
@media only screen and (max-width: 1000px) {
    header {
        display: none;
    }

    .header-right .hamburger {
        display: block;
        position: fixed;
    }
    .header-right{
        margin-right: 10px;
    }

    header .header-left .logo {
        margin-left: 40px; 
    }
    
    header .header-left .logo h1 .name {
        text-decoration: none;
    }
    
    header .header-left {
        /* display: flex; */
        align-items: center;
    }
    
    header .header-left nav {
        /* margin-left: 550px; */
    }
    
    header .header-left nav ul {
        margin-left: 10px;
    }
    
    header .header-left nav ul {
        /* display: flex; */
    }
    
    header .header-left nav ul li {
       list-style: none;
    }
    
    nav ul li a {
        display: block;
        color: #136cac;
        font-size: 18px;
        padding: 5px 10px;
        transition: 0.2s;
        text-decoration: none;
    }
    
    nav ul li a:hover,
    nav ul li a.active {
        color: #eb2e2e;
        display: block;
    }

    nav .active{
        display: block;
    }
    
    .header-right {
        /* display: flex; */
        align-items: center;
    }
    
    .header-right .hamburger {
        margin-left: 20px;
        cursor: pointer;
        /* display: none; */
    }
    
    .header-right .hamburger div {
        width: 30px;
        height: 2px;
        margin: 6px 0;
        background: #f82121;
    }
}