section{
    margin-left: 250px;
    margin-right: 100px;
}

@media only screen and (max-width: 1000px) {
    section {
        margin-left: 11%;
        margin-right: 5%;
        padding: 0%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    section {
        margin-left: 11%;
        margin-right: 5%;
        padding: 0%;
    }
}