/* work Experience Container */

@media only screen and (max-width: 1000px) {
    .work-container {
        /* background-color: whitesmoke; */
        color: #7f8c97;
        max-width: 1224px;
        height: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 2em;
        position: initial;
    }    
}

.work-experience-link h2{
    font-size: 2.1em;
    color: #68afe1;
}
#work-experience {
    margin-top:100px ;
}

.work-container {
    /* background-color: whitesmoke; */
    color: #7f8c97;
    /* max-width: 1224px; */
    height: 100%;
    text-align: center;
    /* margin: 0 auto; */
    /* padding: 2em; */
    /* position: relative; */
    margin-top:100px ;
}


.dir-l, .dir-r {
    position: relative;
    /* width: 40%; */
    padding: 1.5em 1em;
    background: #fff;
    /* box-shadow: 0 3px 0 #d7e4ed; */
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.1);
    box-shadow: #4a99d1;
    margin-top: 0;
    margin-bottom: 1.5em;
    border-radius: 10px;
    border-color: red;
}



.CompanyName, .CompLocation, .Description, .Skills {
    display: inline-block;
    font-weight: 545;
    color: #bb2e24;
    margin-right: 5px;
    /* font-family: "Dosis"; */
    font-size: 1.2em;
}
.CompanyNameDetail {
    font-size: 1.3em;
    color: rgb(32, 19, 216);
}

.CompLocation {
    background-color: white;
    right: 0;
}

.compLocName {
    color: green;
}

 h3 {
    font-weight: bold;
    font-size: 1.7em;
    color: #4B878D;
    width: 90%;
    margin-top: 0;
    font-family: "Dosis";
}

 p {
    font-size: 14px;
    text-align: justify;
    padding: 1px;
    font-family: cursive;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.description-list li {
    list-style-type: disc;
    text-align: justify;
    margin-right: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.description-list li.view-more {
    list-style-type: disc !important;
    size: 30px;
}

ul .description-list {
    /* padding: 24px; */
    margin-left: 30px;
}


.description-list {
    /* list-style-type: square; */
    text-align: justify;
}

.content h2 span {
    animation: type 0.5s ease-out forwards;
    opacity: 0;
}

@keyframes type {
    to {
        opacity: 1;
    }
}